<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                      http://maven.apache.org/xsd/settings-1.0.0.xsd">
	<servers>
		<server>
			<id>github</id>
			<username>mgm3746</username>
			<password>&***REMOVED***103;&***REMOVED***104;&***REMOVED***112;&***REMOVED***95;&***REMOVED***53;&***REMOVED***113;&***REMOVED***87;&***REMOVED***100;&***REMOVED***84;&***REMOVED***109;&***REMOVED***48;&***REMOVED***122;&***REMOVED***56;&***REMOVED***112;&***REMOVED***119;&***REMOVED***69;&***REMOVED***112;&***REMOVED***106;&***REMOVED***69;&***REMOVED***115;&***REMOVED***85;&***REMOVED***52;&***REMOVED***89;&***REMOVED***73;&***REMOVED***85;&***REMOVED***111;&***REMOVED***100;&***REMOVED***55;&***REMOVED***66;&***REMOVED***54;&***REMOVED***111;&***REMOVED***105;&***REMOVED***104;&***REMOVED***82;&***REMOVED***50;&***REMOVED***85;&***REMOVED***83;&***REMOVED***84;&***REMOVED***88;&***REMOVED***106;</password>
		</server>
	</servers>
</settings>